

<div class="container">
    <h1> Vrei să construiești o aplicație? Scrie-ne! </h1>
    <form>
    <div class="img-fluid">
        <% image_tag "forma.png" %>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Ce tip de aplicație vrei să construiești?</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="detalii" class="form-label">Dă-ne cât mai multe detalii despre proiectul tău:</label>
        <textarea class="form-control" id="detalii" rows="3"></textarea>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Vreau să primesc noutăți de la Eventya!</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
