<div class="d-flex justify-content-center">

  <h1 class="mt-4"> Eventya Blog</h1>

  <div class="position-absolute top-50 start-50 translate-middle">
    <%= button_to 'View Articles' , articles_path , method: :get , class: 'btn btn-primary' %>
  </div>

</div>

